/* contact.css */

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 600px;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0056b3;
}

.titre {
    color: white;
    font-size: 2em;
    

}

.form input,
.form textarea {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    display: block;
    margin: 0 auto;
}
.form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button:hover {
    background-color: #0056b3;
}

.messageOk {

    color: white;
    font-weight: bold;
    font-size: 2em;
}

.form--message {
    display: flex;
    margin-left: -30px;
}

label {
    color: white;
    font-size: 1.2em;
    margin-right: 10px;

}

@media screen and (max-width: 768px) {

    .form {
        margin-top: -100px; 
    }
    .form button {
        width: 70%;
    }
}

/* Pour les petits écrans */
@media screen and (max-width: 480px) {
    .form button {
        width: 90%;
    }
}